<div class="container">
  <h1>
    {{ title | titlecase }}
  </h1>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <app-quote-form (add)="addedQuote($event)"></app-quote-form>
    </div>
    <div class="col-md-6">
      <div class="cards">
        <div *ngFor="let quote of quotes let i= index" class="card" style="width: 20rem;">
          <div class="card-body">
            <h4 class="card-title" Dee-quotes>{{quote.title}} {{quote.likes}}<button (click)='displayInfo(i)'
                class="btn btn-primary btn-sm" id="quotes-button">See More</button></h4>
            <p class="card-text" id="param">{{quote.quote}}</p>
            <app-quote-detail *ngIf='quote.showInfo' bind-quote='quote' (isRead)='quoteDelete($event,i)'>
            </app-quote-detail>
            <span class="card-subtitle mb-2">Posted by: <span id="name">{{quote.name}}</span><span id="date">on: <span
                  id="datecolor">{{quote.datePosted|date:'short'}}</span></span></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
