<div class="container-fluid">
  <h2 class="text-center">Dee Quotes</h2>
  <hr>
  <form (ngSubmit)='addQuote() ;quoteForm.resetForm({})' #quoteForm='ngForm'>
    <div class="form-group">
      <label for="name">Your Name</label>
      <input type="text" required class="form-control" id="name" [(ngModel)]="quoted.name" name="name" #name='ngModel' minlength="3" required>
      <div *ngIf="name.invalid" class="alert alert-danger">
        <div *ngIf="name.errors">
        </div>
        <div *ngIf="name.errors.minlength">
        </div>
      </div> 
    </div>
    <div class="form-group">
      <label for="name">Quote Title</label>
      <input type="text" required class="form-control" id="title" [(ngModel)]="quoted.title" name="title" #title='ngModel' required>
      <div *ngIf="title.invalid" class="alert alert-danger">
        <div *ngIf="title.errors">
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="description">Quote</label>
      <textarea class="form-control" id="quote" rows="2" [(ngModel)]="quoted.quote" name="quote" #quote='ngModel' required></textarea>
      <div *ngIf="quote.invalid" class="alert alert-danger">
        <div *ngIf="quote.errors">
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="name">Quote Author</label>
      <input type="text" required class="form-control" id="author"[(ngModel)]="quoted.author" name="author" #author='ngModel' required>
      <div *ngIf="title.invalid" class="alert alert-danger">
        <div *ngIf="title.errors">
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-sm btn-success">Add new Quote</button>
</form>
</div>
